@page "/experiencias"

@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.JSInterop
@using System.Threading.Tasks

<h1>Projeto Marcante</h1>

<div class="accordion" id="experiencia">
     </div>

     <div class="card">
         <!-- CABEÇALHO RECLAMATORIA TRABALHISTA -->
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Melhoria legal - Adaptação do sistema para atender ao novo eSocial
                </button>
            </h2>
        </div>

        <!-- CONTEUDO RECLAMATORIA -->

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="stacks">
                    <h2>Tecnologias Utilizadas</h2>

                    <img class="stacks-images" src="/csharp.logo.png" alt="C#" />
                    <img class="stacks-images" src="/blazor.logo.png" alt="Blazor" />
                    <img class="stacks-images" src="/javascript.logo.png" alt="javascript" />
                    <img class="stacks-images" src="/nunit.logo.png" alt="NUnit" />
                    <img class="stacks-images" src="/nhibernate.logo.png" alt="nhibernate" />
                    <img class="stacks-images" src="/stylecop.logo.png" alt="stylecop" />
                    <img class="stacks-images" src="/teamcity.png" alt="teamcity" />
                    <img class="stacks-images" src="/subversion.logo.png" alt="subversion" />
                </div>

                <p>
                    Essa experiência foi marcantes por ser a primeira vez que fui responsável por uma ordem de serviço por completo.
                    Pude participar de várias etapas do processo de evolução de software desde de reuniões com stackholder até a implementação.
                    Além disso, tive que desenvolver a capacidade de fazer estimativas, realizar desenvolvimento orientado a teste, 
                    utilização de ferramentas para garantir a qualidade do código.<br />
                    Essa funcionalidade atualmente é utilizado por mais de <strong>1.5M de usuários</strong>, nela é possivel realizar a importação, exportação de dados referentes a
                    processos jurídicos de colaboradores de uma empresa e cadastro e edição de ocorrências.<br />
                    Algumas das atividades que fui resposável são: 
                </p>
                <ul>
                    <li>Elaboração e apresentação da proposta de solução e documentação técnica, notificação de impactos para outras equipes.</li>
                    <li>Implementação dos novos campos na camada de apresentação.</li>
                    <li>Implementação do novo serviço de reclamatória trabalhista.</li>
                    <li>Implementação das validações dos novos campos.</li>
                    <li>Implementação de teste unitário para testar validações.</li>
                    <li>Ajuste no layout de importação da reclamatório trabalhista.</li>
                </ul>
                <p>
                    Durante o projeto, trabalhei com as tecnologias C#, Blazor, Javascript, JQuery, NHibernate, FluentValidation, StyleCopy, FxCopy, TeamCity e Subversion. Fui responsável por implementar a parte da tela, serviços e validações dos novos campos, além de criar testes unitários para garantir a qualidade do código.
                </p>

                
                <h2>Lições</h2>
                
                <p>
                    Uma das principais lições que aprendi nessa experiência foi a importância de se adaptar às mudanças do mercado e estar sempre atualizado em relação às legislações e regulamentações. Também pude aprimorar minhas habilidades de liderança, comunicação e resolução de problemas.
                </p>
            </div>
        </div>
    </div>
</div>

